{{ block content }}
<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>

<!-- Box 1: white -->
<div class="content-box box-white">
    <div class="text-center">
        <h3>Game 1</h3>
    </div>
    <hr>
    <p>
        <i>Pay attention to the following instructions as you will soon need to pass a comprehension check.</i>
    </p>

    <div class="content-box box-info">
        <div class="text-center">
            <h4>Game overview</h4>
        </div>
        <hr>
        <p>The first game proceeds as follows:</p>
        <ul>
            <li>The first mover decides whether to send &#8473;<b>10</b> to the second mover or send nothing.</li>
            <br>
            <li>If the first mover sends &#8473;<b>10</b>:</li>
            <ul class="square">
                <li>This amount is tripled and the second mover receives &#8473;<b>30</b>.</li>
                <li>The second mover can send some, all, or none of this amount back to the first mover.</li>
            </ul>
            <li>If the first mover sends nothing:</li>
            <ul class="square">
                <li>The second mover cannot send anything to the first mover.</li>
            </ul>
        </ul>
    </div>

    <!-- Continue button -->
    <div id="continue-btn-wrapper" style="text-align:center; margin: 16px 0;">
        <button type="button" class="btn btn-primary btn-lg" onclick="revealNext()">
            Continue
        </button>
    </div>

    <!-- Hidden second box -->
    <div id="box-decisions" class="content-box box-contrast" style="display:none;">
        <div class="text-center">
            <h4>Your decisions</h4>
        </div>
        <hr>
        <p>In this game:</p>
        <ul>
            <li>The first mover will decide whether to send &#8473;<b>10</b> or &#8473;<b>0</b> to the second mover.</li>
            <li>The second mover will decide how much they would like to return to the first mover if they were to receive &#8473;<b>30</b> (i.e. the first mover were to send &#8473;<b>10</b>).</li>
        </ul>
        <p>
            First, you and your match will make your decisions as the first mover and afterwards as the second mover.
            </p>
        <p>
            If game 1 is chosen to determine your bonus, then the roles will be randomly assigned to you and your match and you will receive your final bonus by enacting the decisions you both made in the assigned roles.
        </p>
    </div>

    <div id="bottom-text" style="display:none;">
        <p>Click on next to answer some brief questions about the game instructions and then begin game 1.</p>
    </div>

    <center id="next-btn-wrapper" style="display:none;">
        {{ next_button }}
    </center>
</div>

<div style="display:none">
    {% for field in form %}
      {% if field.name in hidden_fields %}
        {{ formfield field.name }}
      {% endif %}
    {% endfor %}
</div>

{{ endblock }}
{{ block scripts }}
    {{ super }}
    {{ load static }}
    <script>
        function revealNext() {
            document.getElementById('box-decisions').style.display = 'block';
            document.getElementById('bottom-text').style.display = 'block';
            document.getElementById('continue-btn-wrapper').style.display = 'none';
            document.getElementById('next-btn-wrapper').style.display = 'block';

        }

        document.addEventListener('DOMContentLoaded', function () {
            localStorage.removeItem('blur_count_global');
            localStorage.removeItem('blur_pages');
            const logField = document.getElementById('id_blur_log');
            const countField = document.getElementById('id_blur_count');
            const warnedField = document.getElementById('id_blur_warned');
            if (logField) logField.value = '[]';
            if (countField) countField.value = '0';
            if (warnedField) warnedField.value = '0';
        });
    </script>
    <script src="{{ static 'data_quality.js' }}"></script>
{{ endblock }}