

{{ block content }}

<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>

<div class="content-box box-white">
    <div class="text-center">
        <h3>Overview & Payments</h3>
        </div>
    <hr>
    <p>
        There are 3 stages to this study. All participants will complete all stages in the same order.
    </p>
<p>
    Throughout the study, you will earn bonus payments which will be quoted in the currency of <i>experimental pounds</i> (which we denote by the symbol &#8473;).
    After the study you will receive a payout of your earned bonus at the exchange rate &#8473;<b>50</b>=£1.
</p>
    <p>We will visually present &#8473;<b>10</b> by the below icon.
    <br><br>
    <center>
    <img src="{% static 'images/coin.png' %}" alt="coin" style="max-width: 25%;">
</center>
    <br></p>

<center>
    {{ next_button }}
    </center>
</div>
    <div style="display:none">
    {% for field in form %}
      {% if field.name in hidden_fields %}
        {{ formfield field.name }}
      {% endif %}
    {% endfor %}
</div>
{{ endblock }}

{{ block scripts }}
    {{ super }}
    {{ load static }}
    <script>
        // Reset blur tracking at the start of the experiment
        document.addEventListener('DOMContentLoaded', function () {
            localStorage.removeItem('blur_count_global');
            localStorage.removeItem('blur_pages');

            // Also reset the hidden fields on this page
            const logField = document.getElementById('id_blur_log');
            const countField = document.getElementById('id_blur_count');
            const warnedField = document.getElementById('id_blur_warned');
            if (logField) logField.value = '[]';
            if (countField) countField.value = '0';
            if (warnedField) warnedField.value = '0';
        });
    </script>
    <script src="{{ static 'data_quality.js' }}"></script>
{{ endblock }}



