
{{ block content }}
<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>

<!-- Box 1: white -->
<div class="content-box box-white">
    <div class="text-center">
        <h3>Game 1</h3>
        </div>
    <hr>
    <p>
        <i>Pay attention to the following instructions as you will soon need to pass a comprehension check.</i>
    </p>
    <p>
        The first game proceeds as follows:
    </p>
        <ul>
            <li>The first mover decides whether to send E£10 to the second mover or send nothing.</li>
            <li>If the first mover sends E£10, then this amount is tripled and the second mover receiver E£30.</li>
            <li>The second mover does not make a decision.</li>
        </ul>

    <p>
        In situation 1, you will be in the role of the {{ role1 }} mover and your match will be in the role of the {{ m_role1 }} mover.
        In situation 2, the roles will be reversed.
    </p>
    <p>
        Click on next to answer some brief questions about the game instructions and then begin game 1.
    </p>
    <center>
    {{ next_button }}
    </center>
</div>

<div style="display:none">
    {% for field in form %}
      {% if field.name in hidden_fields %}
        {{ formfield field.name }}
      {% endif %}
    {% endfor %}
</div>

{{ endblock }}
{{ block scripts }}
    {{ super }}
    {{ load static }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            localStorage.removeItem('blur_count_global');
            localStorage.removeItem('blur_pages');
            const logField = document.getElementById('id_blur_log');
            const countField = document.getElementById('id_blur_count');
            const warnedField = document.getElementById('id_blur_warned');
            if (logField) logField.value = '[]';
            if (countField) countField.value = '0';
            if (warnedField) warnedField.value = '0';
        });
    </script>
    <script src="{{ static 'data_quality.js' }}"></script>
{{ endblock }}