{{ block content }}
<link rel="stylesheet" href="{{static 'css/css.css'}}">
<link rel="stylesheet" href="{{static 'css/modal.css'}}">
<script type="text/javascript" src="{{ static 'js/Script_modal.js' }}"></script>

<!-- Box 1: white -->
<div class="content-box box-white">
    <div class="text-center">
        <h3>Stage 2 Information</h3>
    </div>
    <hr>
    <p>
        <i>Pay attention to the following instructions as you will soon need to pass a comprehension check.</i>
    </p>
    <div class="content-box box-white">
        <div class="text-center">
            <h4>Your group</h4>
        </div>
        <hr>
<div style="display: flex; gap: 2rem; align-items: flex-start;">
  {% if player.participant.merit == 0 %}
                        <!-- Left column: paragraph -->
    <div style="flex: 1;">
        <p>
            You were randomly assigned to
            {% if player.group_assignment == 1 %}<span style="color: #A02B93;"><b>group A</b></span>{% endif %}
            {% if player.group_assignment == 2 %}<span style="color: #AB7942;"><b>group B</b></span>{% endif %}.
        </p>
        <p>
            This means you were randomly assigned an initial bonus of &#8473;<b>{{ endowment }}</b>.
        </p>
    </div>

    <!-- Right column: borderless 2x2 table -->
    <div style="flex: 1;">
<center>
                    You<br>

                    {% if player.group_assignment == 1 %}<img src="{% static 'images/you_a.png' %}" alt="You A" style="max-width: 35%;"><br>{{ endif }}
                    {% if player.group_assignment == 2 %}<img src="{% static 'images/you_b.png' %}" alt="You B" style="max-width: 35%;"><br>{{ endif }}
        </center>
    </div>
    {% endif %}

    {% if player.participant.merit == 1 %}
                        <!-- Left column: paragraph -->
    <div style="flex: 1;">
        <p>
            In the previous study, participants correctly decrypted {{ average }} codes on average.
            Since you correctly depicted {{ player.participant.score }} codes, you have been assigned to
            {% if player.group_assignment == 1 %}<span style="color: #A02B93;"><b>group A</b></span>{% endif %}
            {% if player.group_assignment == 2 %}<span style="color: #AB7942;"><b>group B</b></span>{% endif %}.
        </p>
        <p>
            This means you were assigned an initial bonus of &#8473;<b>{{ endowment }}</b> as your score was
            {% if player.group_assignment == 1 %} at least as high as {% endif %}
            {% if player.group_assignment == 2 %} less than {% endif %}
            the median score from the previous study.
        </p>
    </div>

    <!-- Right column: borderless 2x2 table -->
    <div style="flex: 1;">

            <center>

                    You<br>
                    {% if player.group_assignment == 1 %}<img src="{% static 'images/you_a.png' %}" alt="You A" style="max-width: 35%;"><br>{{ endif }}
                    {% if player.group_assignment == 2 %}<img src="{% static 'images/you_b.png' %}" alt="You B" style="max-width: 35%;"><br>{{ endif }}
        </center>

    </div>
    {% endif %}

</div>
</div>


     <div class="content-box box-white">
        <div class="text-center">
            <h4>Your match</h4>
        </div>
        <hr>
<div style="display: flex; gap: 2rem; align-items: flex-start;">
  {% if player.participant.merit == 0 %}
                        <!-- Left column: paragraph -->
    <div style="flex: 1;">
        <p>
            For the rest of stage 2, you have been matched with a participant from your society who was
            {% if player.participant.match_same == 1 %}also {% endif %}randomly assigned to
            {% if player.match == 1 %}<span style="color: #A02B93;"><b>group A</b></span>{% endif %}
            {% if player.match == 2 %}<span style="color: #AB7942;"><b>group B</b></span>{% endif %}.
        </p>
        <p>
            This means your match was randomly assigned an initial bonus of &#8473;<b>{{ m_endowment }}</b>.
        </p>
    </div>

    <!-- Right column: borderless 2x2 table -->
    <div style="flex: 1;">
        <center>
                    Your match<br>


                    {% if player.match == 1 %}<img src="{% static 'images/match_a.png' %}" alt="Match A" style="max-width: 35%;"><br>{{ endif }}
                    {% if player.match == 2 %}<img src="{% static 'images/match_b.png' %}" alt="Match B" style="max-width: 35%;"><br>{{ endif }}
                    </center>
    </div>
    {% endif %}

    {% if player.participant.merit == 1 %}
                        <!-- Left column: paragraph -->
    <div style="flex: 1;">
        <p>
            For the rest of stage 2, you have been matched with a participant from your society who was
            {% if player.participant.match_same == 1 %}also {% endif %}assigned to
            {% if player.match == 1 %}<span style="color: #A02B93;"><b>group A</b></span>{% endif %}
            {% if player.match == 2 %}<span style="color: #AB7942;"><b>group B</b></span>{% endif %}
            due to their score in stage 1.
        </p>
        <p>
            This means that your match was assigned an initial bonus of &#8473;<b>{{ m_endowment }}</b> as their score was
            {% if player.match == 1 %} at least as high as {% endif %}
            {% if player.match == 2 %} less than {% endif %}
            the median score from the previous study.
        </p>
    </div>

    <!-- Right column: borderless 2x2 table -->
    <div style="flex: 1;">

            <center>

                    Your match<br>
                    {% if player.match == 1 %}<img src="{% static 'images/match_a.png' %}" alt="Match A" style="max-width: 35%;"><br>{{ endif }}
                    {% if player.match == 2 %}<img src="{% static 'images/match_b.png' %}" alt="Match B" style="max-width: 35%;"><br>{{ endif }}
        </center>

    </div>
    {% endif %}

</div>
</div>

    <div class="content-box box-info">
        <p>
            During stage 2, you will interact with your match in two <b>games</b>.
            In each game, you will both make simultaneous decisions that may affect both of your bonuses.
            You will not learn about your match's decisions until the end of the study.
        </p>
        </div>
</div>



    <!-- Continue button -->
    <div id="continue-btn-wrapper" style="text-align:center; margin: 16px 0;">
        <button type="button" class="btn btn-primary btn-lg" onclick="revealNext()">
            Continue
        </button>
    </div>

    <!-- Hidden second box -->
    <div id="box-decisions" class="content-box box-contrast" style="display:none;">
        <div class="text-center">
            <h4>Your decisions and bonus</h4>
        </div>
        <hr>
        <p>
            In each game, there are two roles (<span style="color: #E97132; font-weight: bold;">first mover</span> and <span style="color: #196B24; font-weight: bold;">second mover</span>).
            You will make a decision for each role (where applicable).
            At the end of this stage, one of the two games will be randomly chosen and one of the roles will be randomly chosen.
        </p>
        <p>
            You will receive a bonus payment according to your final bonus from the randomly chosen game when you
            are in the randomly chosen role (and your match is in the other role).
        </p>
        <p>
            <b>Therefore, it is in your best interest to treat every decision as if you will be paid for it.</b>
        </p>
    </div>

    <center id="next-btn-wrapper" style="display:none;">
        {{ next_button }}
    </center>
</div>

<div style="display:none">
    {% for field in form %}
      {% if field.name in hidden_fields %}
        {{ formfield field.name }}
      {% endif %}
    {% endfor %}
</div>

{{ endblock }}
{{ block scripts }}
    {{ super }}
    
    <script>
        function revealNext() {
            document.getElementById('box-decisions').style.display = 'block';
            document.getElementById('continue-btn-wrapper').style.display = 'none';
            document.getElementById('next-btn-wrapper').style.display = 'block';

        }

        document.addEventListener('DOMContentLoaded', function () {
            localStorage.removeItem('blur_count_global');
            localStorage.removeItem('blur_pages');
            const logField = document.getElementById('id_blur_log');
            const countField = document.getElementById('id_blur_count');
            const warnedField = document.getElementById('id_blur_warned');
            if (logField) logField.value = '[]';
            if (countField) countField.value = '0';
            if (warnedField) warnedField.value = '0';
        });
    </script>
    <script src="{{ static 'data_quality.js' }}"></script>
{{ endblock }}